*,
html, body{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.container-navbar{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(246, 221, 229);
    border-bottom: 1px solid black;

}
.text-post{
    width: auto;
    height: 100%;
    align-items: center;
    display: flex;
    list-style-type: none;
}
.nav-text{
    font-size: 17px;
    font-weight: 200;
    margin: 2px; 
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 21px;
    display: flex ;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(246, 221, 229);
}
.nav-text:hover{
    background-color:lightyellow;
    transition:.3s;
    box-shadow: 1.5px 0px 1.5px 1.5px rgba(0, 0, 0, .5);
    color: black;

}
h3{
    text-shadow: 1px 1px black 1px 1px purple;
}
.social-media{
    height: 100%;
    margin-left: 850px;margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icons{
    margin: 9px;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px white;
}
.icons:hover{
    font-size: 29.5px;
    transition: 0.2s;
    text-shadow: 3px 1px  rgb(48, 94, 91);
}
.a1:hover{
    color: rgb(251, 151, 166);
}
.a2:hover{
    color: rgb(126, 213, 243);
}
.a3:hover{
    color: rgb(37, 37, 255);
}
.a4:hover{
    color: rgb(255, 2, 2);
}
.a5:hover{
    color: lightgreen;
}
a{
    color: black; text-decoration: none;
}

.container-content{
    background-image: url(./tirta-empul.jpg);
    background-size: cover;
    height: 92vh;
}
.text1{
    font-size: 90px;
    padding-top: 180px;
    padding-left: 100px;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px black;
}

.text2{
    font-size: 50px;
    padding-left: 100px;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px black;

}
.text3-post{
    margin-top: 120px;
    width: 250px ; margin-left: 200px;
    text-align: center;
    
}
.text3-post :hover{
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 5);
    transition: .3s;
    background-color: rgb(123, 123, 234);
}
.text3{
    font-size: 25px ;
    color: white;
    text-shadow: 1.5px 1.5px black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(26, 42, 65);
    padding: 7px;
    text-decoration: none;
   
}
